
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'page.beds.list' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button block (click)="openPage('BedAddPage')">{{ 'button.add_bed' | translate }}</button>

  <ion-list *ngIf="beds">
    <ion-item  *ngFor="let bed of beds" (click)="bedInfo(bed)">
      <ion-label>{{bed.title}}</ion-label>
      <div class="item-note" item-right>
        {{bed.bed_location}}
      </div>
      <button>more info </button>
    </ion-item>
  </ion-list>

</ion-content>
