
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>{{ 'page.beds.list' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button block (click)="openPage('BedAddPage')">{{ 'button.add_bed' | translate }}</button>
  
  <ion-list *ngIf="beds">
    <button ion-item  *ngFor="let bed of beds" (click)="bedInfo(bed)">{{ bed.title }}</button>
  </ion-list>
  
</ion-content>
